* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(images/bgg.jpg);
}

.wrapper {
	height: 440px;
	width:  550px;
	margin: 20px;
	background-color: #fff;
	padding: 20px;
	background-image: url(images/bg.jpg);
	border:  20px solid #2f303b;
}

#game {
	width: 100%;
	
	text-align: center;
	font-size: 1.2em;
}

#game input {
	text-align: center;
}

#game button {
	cursor: pointer;
}

p{
	color: white;
}